# Core API & Web frameworks
fastapi
python-multipart
Django
django-cors-headers

# Environment variables
python-dotenv
pillow

# Database (PostgreSQL + connection URL)
dj-database-url
psycopg2-binary

# Cloudinary (media storage)
cloudinary
django-cloudinary-storage

# HTML editor and sanitization
markdown2
bleach

# API & HTTP requests
requests
httpx
gradio_client
supabase

# Authentication and password hashing
bcrypt
PyJWT

# Static files and production server
whitenoise
gunicorn
google-generativeai
google-genai
deep-translator
